.jumbotron {
	background-color: #888;
	text-align: center;
}

.page-header {
	text-align: center;
}

.row {
	background-color: #ebf97a;
	margin-right: 100px;
}

.well {
	background-color: #45e8e5;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.picskills {
	margin-top: 50px;

}

#picture {
	padding-top: 20px;
}

.container-fluid {
	background-color: #4de845;
}
