<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/main2.css">
    <title>Kelly Nash, Junior Web Developer</title>
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>

<body>
<div class="navigation">
            <nav class="navbar navbar-default-transparent">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="inside-jumbotron">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="indexblog.html">Blog</a></li>
                        <li><a href="#">About Me</a></li>
                        <li><a href="login.html">Log In</a></li>
                    </ul>   
                </div>
            </nav>
    </div>
</div>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                        <strong>username</strong>: <%= user.local.userName %>
                    </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>